- hosts: all
  become: true
  tags:
    - always
  tasks:
    - name: Gather facts
      ansible.builtin.gather_facts:

- hosts: all
  become: true
  tags:
    - init
  roles:
    - common

- hosts: geth
  become: true
  tags:
    - geth
  roles:
    - rootchain-server

- hosts: fullnode:validator
  become: true
  tags:
    - edge
  roles:
    - mounted-storage
    - edge

- hosts: fullnode:validator
  become: true
  tags:
    - metrics
  roles:
    - prometheus.prometheus.node_exporter

- hosts: fullnode:validator
  become: true
  tags:
    - haproxy
  roles:
    - haproxy
